.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

.desktopContainer {
  position: relative;
}

@media all and (max-width: 750px) {
  .desktopContainer {
    display: none;
  }
}
