.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

.container {
  width: 60%;
  margin: auto;
  padding: 2.5% 0 2.5% 0;
  border-bottom: 1px solid black;
}

.title {
    padding-bottom: 3%;
    letter-spacing: 0.1rem;

}

.text {
text-align:justify;
letter-spacing: 0.2rem;
line-height: 2rem;


}

.desktopContainer {
  position: relative;
}

@media all and (max-width: 750px) {
  .desktopContainer {
    display: none;
  }
}
