.container {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 35%;
  left: 12.125%;

  /* padding-left: auto; */
  width: 60%;
  border: 1px solid red;

    text-align: left;
}

.title {
  font-size: 4vmax;
  letter-spacing: 0.25rem;
  /* width: 80vw; */
  /* margin: auto; */
}

.smallText {
  font-size: 1.25vmax;
  width: 100%;
}

.text {
  /* width: 55%; */
  font-size: 1.5vmax;
}

.readmore {
  padding-top: 1%;
  font-size: 0.75vmax;
  cursor: pointer;
}
