.desktopContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}


@media all and (max-width: 750px) {
  .desktopContainer {
    display: none;
  }
}
