.container {
  /* width: 100%;
  height: 100vh; */
  aspect-ratio: 3/2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadecontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0.7) 80%,
    rgba(255, 255, 255, 0.9) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}
.backgroundImage {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 3/2; */
  z-index: -3;
  object-fit: cover;
  object-position: top center;
}

.imageTextContainer {
  position: absolute;
  z-index: 100;
  width: 70%;
  height: auto;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, yellow); */
}
.imageText {
  width: 100%;
  height: auto;
  margin: auto;
}
