.container {
    padding-top: 3%;
    text-align: center;
    align-items: center;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .contactheading {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .contactparagraph {
    font-size: 1.25rem;
    font-weight: 200;
    padding-top: 2%;
  }
  
  .socialnetworkcontainer {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 3%;

    /* border: 1px solid red; */
  }
  