.container {
    padding-top: 2%;
    /* padding-bottom: 2%; */

    text-align: center;
    align-items: center;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  
  .contactheading {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .contactparagraph {
    font-size: 1.25rem;
    font-weight: 200;
    padding-top: 3%;
  }
  
  .socialnetworkcontainer {
    display: flex;
    width: 75%;
    margin: auto;
    align-items:center;
    justify-content: center;
    justify-items: center;
    padding-top: 4%;
    padding-bottom: 4%;

  }
  