.container {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: green;
}

.text {
  width: 23%;
  font-size: 1vmax;
  text-align: center;
}

.logo {
  width: 6%;
  margin-right: 9%;
}
.circle {
  width: 4%;
  margin-left: 11%;
}

@media all and (max-width: 950px) {
  .logo {
    width: 8%;
    margin-right: 7%;

  }
  .circle {
    width: 6%;
    margin-left: 9%;

  }
  .text {
    font-size: 1.25vmax;
  }
}


@media all and (max-width: 750px) {
  .container {
    display: none;
  }
}
