.container {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: green;
}

.text {
  width: 23%;
  font-size: 1vmax;
  text-align: center;
}

.logocontainer {
  width: 10%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
}

.circlecontainer {
  width: 6%;
  height: auto;
}

.circle {
  width: 100%;
  height: auto;
}

@media all and (max-width: 950px) {
  .logocontainer {
    width: 8%;
  }
  .circlecontainer {
    width: 5%;
  }
  .text {
    font-size: 1.25vmax;
  }
}

@media all and (max-width: 750px) {
  .container {
    display: none;
  }
}
