.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgb(31, 31, 31);
}

.logo {
  width: 20%;
}
.nav {
  width: 10%;
}

