.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 10%;
  border-bottom: 1px solid black;
}

.title {
  font-size: 2rem;
  color: green;
  padding-bottom: 5%;
  letter-spacing: 0.3rem;
  padding-top: 5%;
}

.text {
  text-align: justify;
  font-size: 1.125rem;
  line-height: 2rem;
}

@media all and (min-width: 750px) {
  .newsContainer {
    display: none;
  }
}
