.imageContainer {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 3/2;
  z-index: -1;
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  position: absolute;
}

.textContainer {
  text-align: center;
  /* height: 100%; */
  aspect-ratio: 3/2;
  position: relative;
  /* z-index: 1; */
}
