.followUsContainer {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.followUsTitle {
  color: rgb(41, 117, 41);
  letter-spacing: 0.25rem;
  font-weight: 400;
}

.socialNetworkContainer {
  display: flex;
  width: 60%;
  margin: auto;
}
