.followUsContainer {
    padding-top: 7.5%;

  }


  .followUsTitle {
    font-size: 2rem;
    font-weight: 900;
    color: green;
    letter-spacing: 0.5rem;
    padding-bottom: 2.5%;


  }

  .socialNetworkContainer {
     display: flex;
     width: 80%;
     margin: auto;
  }