.imageContainer {
  padding-top: 2.5%;
  width: 20%;
  align-items: center;
  margin: auto;
  transition: transform 1s ease;
  text-align: center;
}

.image {
  width: 70%;
  height: auto;
}

.imageContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text {
  text-transform: uppercase;
  font-size: 0.5rem;
  text-align: center;
}
