.imageContainer {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 15%;
  align-items: center;
  margin: auto;
  transition: transform 1s ease;
  text-align: center;
}

.imageContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text {
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
}
