.galleryContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;

}

.mainImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImageTextContainer {
  position: absolute;
  z-index: 1;
  width: 70%;
  margin: auto;
}

.mainImage, .galleryTextImage {
  width: 100%;
  /* object-fit: contain;
  object-position: top center;
  z-index: -1; */
}
/* 
.galleryTextImage {
  width: 100%;
} */

.galleryImageContainer {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

.galleryImage {
    width: 100%;
}
  
  .imageTitle {
    position: absolute;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: white;
    /* padding-top: 67vh; */
    /* opacity: 0; */
  }
  

@media all and (min-width: 750px) {
  .galleryContainer {
    display: none;
  }
}
